// TODO
.container {
  display: flex;
  max-width: 721px;
  width: 100%;
  max-width: 721px;
  justify-content: flex-start;
  margin: 40px auto 39.37px;

  &:hover {
    cursor: pointer;
  }
}

.logoImg {
  max-width: 238.62px;
  max-height: 25.63px;
}